<div
  class="bg-light min-vh-100 d-flex justify-content-center align-items-center py-3 py-md-5"
>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="text-center mb-5">
                <img src="/logo.png" alt="OM Logo" width="500" height="300" />
              </div>
            </div>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <label for="username" class="form-label">
                  Username <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                  <span class="input-group-text">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-person-circle"
                      viewBox="0 0 16 16"
                    >
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                      <path
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                      />
                    </svg>
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    formControlName="username"
                    id="username"
                  />
                </div>
                <div
                  *ngIf="
                    loginForm.get('username')?.touched &&
                    loginForm.get('username')?.invalid
                  "
                  class="text-danger mt-2"
                >
                  <div *ngIf="loginForm.get('username')?.errors?.['required']">
                    Username is required.
                  </div>
                  <div *ngIf="loginForm.get('username')?.errors?.['minlength']">
                    Username must be at least 3 characters long.
                  </div>
                  <div *ngIf="loginForm.get('username')?.errors?.['maxlength']">
                    Username must be at most 20 characters long.
                  </div>
                  <div *ngIf="loginForm.get('username')?.errors?.['pattern']">
                    Username can only contain alphanumeric characters.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <label for="password" class="form-label">
                  Password <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                  <span class="input-group-text">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-key-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2M2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2"
                      />
                    </svg>
                  </span>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    formControlName="password"
                    id="password"
                  />
                </div>
                <div
                  *ngIf="
                    loginForm.get('password')?.touched &&
                    loginForm.get('password')?.invalid
                  "
                  class="text-danger mt-2"
                >
                  <div *ngIf="loginForm.get('password')?.errors?.['required']">
                    Password is required.
                  </div>
                  <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
                    Password must be at least 5 characters long.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="d-grid">
                  <button
                    class="btn bg-primary btn-lg text-white"
                    type="submit"
                  >
                    Sign In
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
